.form {
	width: 100%;
	max-width: 700px;

	margin: 50px auto;
	padding: 40px;

	text-align: center;
	color: var(--global-light);
	background-color: var(--global-light);
	border-radius: 20px;

	position: relative;

	.formGaps {
		display: flex;
		flex-direction: column;
		gap: 5px;


	}

	.title {
		margin: 15px 0;
		font-size: 24px;
		font-weight: 700;
		color: var(--global-bolddark);
	}

	.errorMessage {
		color: var(--global-red);
	}

	.successMessage {
		color: var(--global-green);
	}

	.errorMessage,
	.successMessage {
		margin: 0 0 15px;
		font-weight: bold;
	}

	.formBody, {
		display: flex;
		flex-direction: column;
		gap: 15px;

		input {
			width: 100%;
		}
	}

	> div {
		width: 100%;
	}

	.forgotBtn {
		position: relative;

		> button {
			font-size: 12px;
			font-weight: 700;
			color: var(--global-blue);
			position: absolute;
			right: 0;
		}
	}

	.loginBtns,
	.regBtns,
	.resetBtns {
		margin: 25px 0 0;

		button {
			color: var(--global-bolddark);
		}
	}

	.signInGoogle {
		background-color: var(--global-blue);
	}

	.resetBtn {
		width: 100%;
		margin: 5px 0 0;
		color: var(--global-blue);
	}
}

.formFlex {
	display: flex;
	flex-direction: column;
	gap: 15px;
}