.header {
	background: var(--global-opacity-dark);

	.wrapper {
		padding: 0 15px;
	}

	.headerBody {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 0;
	}
}

@media screen and (min-width: 1024px) {
	.header {
		border: none;

		.wrapper {
			padding: 0 30px;
		}
	}
}
