.errorPage {
	margin: auto;
	text-align: center;

	.errorMessage {
		font-size: 24px;

		.errorCode {
			color: var(--global-yellow-dark);
			padding: 0;

			font-size: 52px;
			font-weight: 700;
		}
	}

	.homeLink {
		color: var(--global-yellow-dark);
	}
}
