.profile {
  color: var(--global-light);
  padding: 20px;

  .userBody {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;

    .userImg {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .userInfo {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .editButton {
      background-color: var(--global-red);
      color: var(--global-light);
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--global-dark-red);
      }
    }
  }

  .editForm {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid var(--global-light);
      color: var(--global-light);
      border-radius: 5px;
      outline: none;
    }

    button {
      background-color: var(--global-red);
      color: var(--global-light);
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--global-dark-red);
      }
    }
  }
}